body , .jumbotron{
	padding : 20px;
}
.scoreButton .btn-primary , .scoreButton .btn-danger, .scoreButton .btn-info{
	font-size: 40px;
}
.scoreButton .scorebtn {
	text-align: center;
    margin-bottom: 25px;
}
@media (max-width: 960px) {
	.choices {
		margin-bottom: 20px;
	}
}